* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

section.content {
  text-align: center;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.open-menu {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.cd-nav-trigger {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.logo {
  position: absolute;
  z-index: 2;
}

div.transparent-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

div.fotorama__stage {
  width: 100% !important;
}

div.fotorama__stage__frame.fotorama__active {
  width: 100% !important;
}

div.fotorama__nav__shaft {
  display: none;
}

.featured-content {
  position: relative;
}

.featured-content p {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #fff;
  font-family: "estilo-pro",sans-serif;
  font-weight: 400;
  font-size: 2.1em;
  width: 460px;
  line-height: 1;
  z-index: 1;
}

.cd-nav-trigger a {
  height: 30px;
  display: inline-block;
  cursor: pointer;
}

.cd-nav-trigger a:hover span,
.cd-nav-trigger a:hover span::before,
.cd-nav-trigger a:hover span::after {
  background-color: #757575;
}

.cd-nav-trigger a:focus span,
.cd-nav-trigger a:focus span::before,
.cd-nav-trigger a:focus span::after,
.cd-nav-trigger a:active span,
.cd-nav-trigger a:active span::before,
.cd-nav-trigger a:active span::after {
  background-color: #323232;
}

.cd-nav-trigger a#open-menu:hover title {
  color: #757575;
}

.cd-nav-trigger span,
.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #000;
}

.cd-nav-trigger span {
  margin-top: 10px;
  -webkit-transition: background 0.1s 0.1s;
  transition: background 0.1s 0.1s;
  display: inline-block;
}

.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s 0.3s, background 0.1s 0.1s;
  transition: transform 0.3s 0.3s, background 0.1s 0.1s;
}

.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}

.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}

#open-menu title {
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-transition: color .1s .1s;
  transition: color .1s .1s;
}

body {
  background-color: #F4F4F4;
  text-align: center;
}

main {
  margin-bottom: 0px;
  display: inline-block;
  width: 100% !important;
}

main header {
  display: block;
  text-align: center;
  vertical-align: top;
  position: relative;
  height: 80px;
}

.central-block {
  text-align: center;
  height: 100%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.left-block {
  width: 25%;
  height: 100%;
  display: inline-block;
  text-align: left;
}

.right-block {
  width: 25%;
  display: inline-block;
  text-align: right;
  height: 100%;
  position: relative;
  vertical-align: top;
}

.right-block .options {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 230px;
}

.options button {
  border: none;
  outline: 0;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
}

.options button.booking {
  background-color: #EBB40F;
  border-radius: 3px;
  padding: 7px;
  font-size: .75em;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: background 0.1s 0.1s, color 0.1s 0.1s;
  transition: background 0.1s 0.1s, color 0.1s 0.1s;
}

.options button.booking:hover {
  background-color: #323232;
  color: #D6D6D6;
  padding-left: 15px;
  padding-right: 15px;
}

.options .lang {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin-left: 15px;
  font-size: .75em;
  cursor: pointer;
  padding: 7px;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: background 0.1s 0.1s, color 0.1s 0.1s;
  transition: background 0.1s 0.1s, color 0.1s 0.1s;
  -webkit-transition-timing-function: ease-in; /* Safari and Chrome */
    transition-timing-function: ease-in;
}

.options .lang:hover {
  background-color: #333232;
  color: #D6D6D6;
}

.options .lang:focus,
.options .lang:active {
  background-color: #333232;
  color: #EBB40F;
}

.options div.lang span {
  margin-left: 5px;
  width: 9px;
  height: 4px;
  vertical-align: middle;
  display: inherit;
  /* -webkit-transform: rotate(-90deg); */
  /* transform: rotate(-90deg); */
}

.options .lang:hover span:before,
.options .lang:hover span:after {
  background-color: #fff;
}

.options .lang:focus span:before,
.options .lang:active span:before,
.options .lang:focus span:after,
.options .lang:active span:after {
  background-color: #EBB30E;
}

.options div.lang span:before,
.options div.lang span:after {
  content: '';
  width: 6px;
  height: 1px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.1s 0.1s,background-color 0.1s 0.1s;
  transition: transform 0.1s 0.1s,background-color 0.1s 0.1s;
}

.options div.lang span:before {
  -webkit-transform: translate(-4px,4px) rotate(-135deg);
  transform: translate(-4px,4px) rotate(-135deg);
}

.options div.lang span:after {
  -webkit-transform: translate(-4px,4px) rotate(-45deg);
  transform: translate(-4px,4px) rotate(-45deg);
}

.image-frame {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rooms-view {
  margin-top: 50px;
}

.frame-inside {
  position: relative;
}

.frame-inside img {
  width: 100%;
  height: auto;
}

.frame-inside .page-marker {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 173px;
  height: 68px;
  background-color: #F4F4F4;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  z-index: 100;
}

.frame-inside a.link-legenda {
  position: absolute;
  right: 0px;
  bottom: 60px;
  height: 114px;
  width: 333px;
  padding: 20px;
  background-color: #333232;
  color: #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  z-index: 100;
  text-decoration: none;
  -webkit-transition: background-color 0.1s 0.1s,color 0.1s 0.1s;
  transition: background-color 0.1s 0.1s,color 0.1s 0.1s;
}

.frame-inside a.link-legenda:hover {
  background-color: #D6D6D6;
  color: #000;
}

.frame-inside a.link-legenda:focus,
.frame-inside a.link-legenda:active {
  background-color: #757575;
  color: #fff;
}

.frame-inside a.link-legenda .legenda {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.fotorama div.fotorama__arr--prev,
.fotorama div.fotorama__arr--next {
  display: none;
  opacity: 0;
}

.frame-inside .page-marker a.previous,
.frame-inside .page-marker a.next {
  position: absolute;
  width: 20px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
}

.frame-inside .page-marker a.previous {
  top: 25px;
  left: 40px;
}

.frame-inside .page-marker a.next {
  top: 25px;
  right: 40px;
}

.frame-inside .page-marker a {
  -webkit-transition: -webkit-transform 0.1s 0.1s;
  transition: transform 0.1s 0.1s;
}

.frame-inside .page-marker a.previous:before,
.frame-inside .page-marker a.previous:after,
.frame-inside .page-marker a.next:before,
.frame-inside .page-marker a.next:after {
  content: '';
  width: 14px;
  height: 2px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.1s 0.1s;
  transition: transform 0.1s 0.1s;
}

.frame-inside .page-marker a.next:before,
.frame-inside .page-marker a.next:after {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.frame-inside .page-marker a.previous:before {
  -webkit-transform: translate(-4px,10px) rotate(-45deg);
  transform: translate(-4px,10px) rotate(-45deg);
}

.frame-inside .page-marker a.previous:after {
  -webkit-transform: translate(-4px,10px) rotate(45deg);
  transform: translate(-4px,10px) rotate(45deg);
}

/*----------------------------------*/

.frame-inside .page-marker a.next:before {
  -webkit-transform: translate(-4px,10px) rotate(45deg);
  transform: translate(-4px,10px) rotate(45deg);
}

.frame-inside .page-marker a.next:after {
  -webkit-transform: translate(-4px,10px) rotate(-45deg);
  transform: translate(-4px,10px) rotate(-45deg);
}

.frame-inside .page-marker a.next:hover::after,
.frame-inside .page-marker a.next:hover::before,
.frame-inside .page-marker a.previous:hover::after,
.frame-inside .page-marker a.previous:hover::before {
  background-color: #D6D6D6;
}

/*----------------------------*/

.frame-inside .legenda a:hover {
  color: #fff;
}

.frame-inside .legenda .title,
.frame-inside .legenda .description {
  margin: 0;
  padding: 0;
}

.reasons {
  text-align: center;
  margin-top: 90px;
  display: inline-block;
  max-width: 1024px;
}

.reasons h2 {
  margin-right: 90px;
}

h2 {
  font-family: "estilo-pro",sans-serif;
  font-weight: 300;
  display: inline-block;
  width: 380px;
  text-transform: lowercase;
  vertical-align: top;
  margin: 0;
  font-size: 2.625em;
  line-height: 1;
  text-align: right;
}

h6 {
  margin: 0;
  display: inline-block;
  width: 53%;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1.9;
  font-size: 0.94em;
  text-align: left;
}

h6:before {
  width: 119px;
  height: 1px;
  display: block;
  background-color: #F2BB1A;
  content: " ";
  margin-bottom: 20px;
  margin-top: 5px;
}

h6 p {
  margin-top: 40px;
}

/*------------------------------------*/

.show-rooms {
  text-align: center;
  margin-top: 50px;
}

.show-rooms h3 {
  font-family: "estilo-pro",sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  text-transform: lowercase;
}

.show-rooms h3:after {
  text-align: center;
  width: 85px;
  height: 1px;
  display: block;
  background-color: #D6D6D6;
  content: " ";
  margin-top: 20px;
  margin-left: 37%;
}

.room {
  display: inline-block;
  margin: 10px;
  position: relative;
  background-color: #fff;
  color: #000;
}

.room:hover {
  background-color: #ccc;
  /*color: #fff;*/
}

.room a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

.room h5 {
  display: block;
  font-size: 1.04em;
  font-weight: normal;
  margin-bottom: 0;
}

.room h5:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 30px;
  background-color: #D6D6D6;
}

.room:hover h5:after {
  /*
  background-color: #333232;
  */
}

.small-frame {
  width: 230px;
  height: 239px;
  overflow:hidden;
  position: relative;
}

.small-frame img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition:-webkit-transform 0.2s 0.2s, width 0.2s 0.2s,height 0.2s 0.2s;
  transition:-webkit-transform 0.2s 0.2s, width 0.2s 0.2s,height 0.2s 0.2s;
}
.room:hover .small-frame img{
  width: 105%;
  height:auto;
}

.small-frame:before {
  position: absolute;
  z-index: -1;
}

.center-title {
  text-align: center;
  display: inline-block;
}

.app-history {
  margin-top: 120px;
}

.app-history .img-content {
  display: inline-block;
  width: 55%;
  vertical-align: bottom;
}

.app-history .img-content img {
  width: 100%;
  margin-top: 50px;
  vertical-align: bottom;
}

.app-history .description {
  padding: 6%;
  display: inline-block;
  width: 45%;
  background-color: #fff;
  text-align: center;
  vertical-align: top;
}

.app-history .description h6 {
  width: 100%;
  text-align: center;
}

.app-history .description a {
  font-weight: normal;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  display: inline-block;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: .85em;
  -webkit-transition: background-color 0.1s 0.1s,border-color 0.1s 0.1s;
  transition: background-color 0.1s 0.1s,border-color 0.1s 0.1s;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

.app-history .description a:hover {
  background-color: #F2BB1A;
  border-color: transparent;
}

.app-history .description a:active,
.app-history .description a:focus {
  background-color: #323232;
  border-color: transparent;
}

.app-history .description a:active,
.app-history .description a:focus {
  background-color: #D6D6D6;
}

.app-history .description a h4 {
  text-decoration: none;
  color: #000;
  margin: 0;
}

.app-history .description h3 {
  padding: 20px;
  font-weight: 400;
  font-family: 'estilo-pro';
  font-size: 1.7em;
}

.app-history .description p {
  width: 93%;
  display: inline-block;
  line-height: 1.9;
  font-weight: normal;
  font-size: 15px;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.51);
}

.yellow {
  background-color: rgba(236, 185, 30, 0.97);
}

nav.choose-lang {
  width: 458px;
  height: 366px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

button.close {
  border: none;
  outline: 0;
  background-color: transparent;
  position: absolute;
  right: 0;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
}

nav.choose-lang button.close {
  right: 10px;
  top: 10px;
}

button.close:before,
button.close:after {
  content: '';
  width: 26px;
  height: 2px;
  background-color: #000;
  display: inline-block;
  position: absolute;
}

button.close:before {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate(-50%,0px) rotate(-45deg);
  transform: translate(-50%,0px) rotate(-45deg);
}

button.close:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate(-50%,0px)  rotate(45deg);
  transform: translate(-50%,0px)  rotate(45deg);
}

nav.choose-lang h3 {
  margin-top: 80px;
}

nav.choose-lang h3:after {
  content: '';
  display: block;
  margin-top: 20px;
  width: 58px;
  height: 2px;
  left: 50%;
  margin-left: -29px;
  position: absolute;
  background-color: #F2BB1A;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 80px;
}

nav ul li {
  margin: 30px;
  margin-left:0px;
  margin-right:0px;
}

nav ul li a {
  text-decoration: none;
  color: #333232;
  font-size: 1em;
}

nav.choose-menu {
  font-family: "estilo-pro",sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-size: 1em;
  text-align:left;
}

nav.choose-menu h3 {
  margin: 0px;
  background-color: #333232;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
}

nav.choose-menu ul {
  font-size: 1.9em;
  font-weight: lighter;
  margin-top: 30px;
}

.yellow button.close {
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
}

footer ul li {
  text-transform: uppercase;
}

li.review-box {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  padding: 15px;
  line-height: .3;
}

footer {
  padding: 0;
  margin: 0;
  background-image: url(../images/footer-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 297px;
  position: relative;
}

footer ul {
  color: #fff;
  padding: 20px;
  font-weight: 600;
  font-size: .63em;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

footer ul li {
  display: inline-block;
  margin: 5px;
  height: 20px;
}

footer ul li img {
  vertical-align: middle;
}

footer .share-logo {
  padding-left: 20px;
  background-image: url(../images/share-img.png);
  background-repeat: no-repeat;
}

footer .fb-logo {
  padding-left: 13px;
  background-image: url(../images/fb-logo.png);
  background-repeat: no-repeat;
}

footer a {
  display: inline-block;
  text-decoration: none;
  height: 20px;
  color: #fff;
}

footer a:hover {
  text-decoration: none;
}